.InputForm{
    border: 2px solid gold;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    width: 455px;
    height: 218px;
    background-color: palegoldenrod;
    margin: auto;
    margin-top: 10px;
}
.InputForm > .Main-Input-Dividers{
    display: inline-block;
}
.InputForm > .Main-Input-Dividers > .Main-Input-Headers{
    display: flex;
    margin-left: 4em;
}
.InputForm > .Main-Input-Dividers > .Main-Input-Headers > p{
    color: blue;
    text-align: center;
    margin-left: 1em;
}
.InputForm > .Main-Input-Dividers > .Main-Input-Section{
    margin-left: 4em;
}
.InputForm > .Main-Input-Dividers > .Main-Input-Section > .Main-Input{
    border: 2px solid navy;
    width: 94px;
    border-radius: 16px;
    margin-left: 1em;
}
.submit_button{
    border: 2px solid navy;
    width: 94px;
    margin-left: 14.2em;
    margin-top: 5px;
    border-radius: 16px;
    background-color: aquamarine;
}
.InputForm > .Notes > h3{
    text-align: center;
    color: navy;
}
.InputForm > .Notes > p{
    text-align: center;
    color:  mediumblue;
}