body{
	/* background-color: lightgreen; Old Background */
    background-image: linear-gradient(100deg, #dc9d2c61, #fbffb7d6, #0083f394, #9d2ed669);
}
::-webkit-scrollbar {
  width: 8px;
  background-image: linear-gradient(#dc9d2c61, #fbffb7d6,#dc9d2c61);
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(#fbffb7d6, #dc9d2c61,#fbffb7d6);
  border-radius: 10px;
}