.TableDiv{
    width: 500px;
    height: auto;
    display: flex;
    margin: auto;
    margin-top: 10px;
}
.DataTable{
    width: 262px;
    height: inherit;
    background-color: lightblue;
}
.TableHeaders{
    background-image: linear-gradient(100deg, #dc9d2c61, #fbffb7d6,#dc9d2c61);
    background-color: tan;
}
table {
    border-collapse: collapse;
}

th, td {
    text-align: center;
    padding: 8px;
}
td > a{
    text-decoration: none;
    color: black;
}
.TableRows:nth-child(even){background-color: blanchedalmond}
.TableRows:nth-child(odd){background-color: tan}
th {
    color: darkolivegreen;
}
img{
    width: 100px;
    height: 92px;
}