.TableDiv{
    width: auto;
    height: auto;
    display: flex;
    margin: auto;
    margin-top: 10px;
}
.DataTable{
    width: auto;
    height: inherit;
}
.TableHeaders{
    background-image: linear-gradient(100deg, #dc9d2c61, #fbffb7d6,#dc9d2c61);
    background-color: tan;
}
table {
    border-collapse: collapse;
}

th, td {
    text-align: center;
    padding: 8px;
    font-size: 15px;
}
td > button{
    border: 2px solid gold;
    border-radius: 16px;
    margin-left: 3px;
}
td > button:focus{
    border: 2px solid gold;
    border-radius: 16px;
}
td > button:hover{
    border: 2px solid goldenrod;
    background-color: silver;
}
.TableRows:nth-child(even){background-color: blanchedalmond}
.TableRows:nth-child(odd){background-color: tan}
th {
    color: darkolivegreen;
}